.button-content {
    margin: 15px auto; 
    padding:10px 20px;
    display:inline-block;
    border-radius:3px;
    background:#DC6C53;
    font-size:16px;
    color:black;
    font-family: 'Cinzel', serif;
}